services:
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cloudnet

  web:
    build:
      context: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:z
      - ./media:/app/media:z
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - cloudnet

  frontend:
    build:
      context: ./frontend
    command: npm run dev -- --host 0.0.0.0
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:z
      - node_modules:/app/node_modules
    stdin_open: true
    tty: true
    env_file:
      - .env
    networks:
      - cloudnet

volumes:
  pgdata:
  node_modules: {}

networks:
  cloudnet:
